.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 0.004;
    justify-content: space-between;
    background: whitesmoke;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
}
